{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 2,
    "printWidth": 80,
    "useTabs": false,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "auto", 
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "editor.formatOnSave": true

  }
  