a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

a:active {
  color: dimgray;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f0f4f4;
  color: #000000;
  font-family: 'KohinoorMedium', sans-serif;
  font-size: medium;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.glow {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.glow:hover {
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}


/* Red */
.red-gradient-background {
  color: black;
  background: linear-gradient(-20deg, rgba(201, 83, 81, 0.3) -90%, #f0f4f4 100%);
}

/* Yellow */
.yellow-gradient-background {
  color: black;
  background: linear-gradient(
    -20deg,
    rgba(255, 255, 0, 0.3) -90%,
    #f0f4f4 100%
  );
}

/* Blue */
.blue-gradient-background {
  color: black;
  background: linear-gradient(-20deg, rgba(0, 0, 255, 0.3) -90%, #f0f4f4 100%);
}

/* Green */
.green-gradient-background {
  color: black;
  background: radial-gradient(
    circle at 100% 100%,
    rgba(0, 128, 0, 0.3),
    transparent
  );
}

/* Orange */
.orange-gradient-background {
  color: black;
  background: linear-gradient(
    -20deg,
    rgba(207, 105, 69, 0.3) -90%,
    #f0f4f4 100%
  );
}

/* Indigo */
.indigo-gradient-background {
  color: black;
  background: linear-gradient(-20deg, rgba(75, 0, 130, 0.3) -90%, #f0f4f4 100%);
}

/* Purple */
.purple-gradient-background {
  color: black;
  background: linear-gradient(
    20deg,
    rgba(128, 0, 128, 0.856) -90%,
    #f0f4f4 100%
  );
}

/* Pink */
.pink-gradient-background {
  color: black;
  background: linear-gradient(-20deg, rgb(255, 2, 234) -90%, #f0f4f4 100%);
}

/* Grey */
.grey-gradient-background {
  color: black;
  background: linear-gradient(-20deg, rgb(117, 116, 116) -90%, #f0f4f4 100%);
}

.container {
  display: flex;
  justify-content: center;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.full-height {
  min-height: 100vh;
}

@font-face {
  font-family: 'KohinoorLight';
  src: url('/fonts/KohinoorLatin-Light.otf') format('truetype');
}

@font-face {
  font-family: 'KohinoorMedium';
  src: url('/fonts/FontsFree-Net-KohinoorTelugu-Medium.ttf') format('truetype');
}

.links > a {
  color: #000000;
  padding: 5% 10%; /* Adjust padding using percentages */
  font-size: 1.2rem; /* Use rem for font size */
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'KohinoorLight', sans-serif;
  font-size: medium;
}

@media (max-width: 768px) {
  .links > a {
    padding: 3% 6%;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .links > a {
    padding: 2% 4%;
    font-size: 0.8rem;
  }
}

.icon-links:hover {
  color: black;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.icon-links:active {
  color: dimgray;
}

.links a:hover {
  color: black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.links a:active {
  color: dimgray;
}

.low-height {
  height: 30vh;
}

.m-b-md {
  margin-bottom: 30px;
}

.navbar {
  margin-top: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: #636b6f;
  text-decoration: none;
}

.pic-container {
  display: flex;
  justify-content: space-between; /* Change to 'space-between' to keep equal margins between columns */
  max-width: 1000px;
  margin: 0 auto; /* This will center the entire container horizontally */
  padding: 0 4vw; /* Set the left and right padding to create the desired margins */
  position: relative; /* This ensures that the z-index is applied correctly */
  z-index: 2;
}

.top-container {
  /* Adjust the values below to create the desired shadow effect */
  -webkit-box-shadow: 0 5px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 6px -6px rgba(0, 0, 0, 0.5);
  max-width: 1000px; /* Adjust the value to your desired maximum width */
  margin: 0 auto; /* Center horizontally */
}

.pic-col {
  box-sizing: border-box;
  flex: 1; /* Allow the columns to grow and shrink equally */
  padding: 15px;
  text-align: center;
}

.position-ref {
  position: relative;
}

.row {
  display: flex;
}

.sub-col {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px; /* Set the maximum width for the column */
  padding-right: 4vw;
  padding-left: 4vw;
}

.title {
  font-size: 5vw;
  white-space: nowrap;
  margin: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

iframe {
  max-width: 100%;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media screen and (max-width: 360px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 66px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 66px;
  }
}

.scrollable-content {
  height: 720px;
  max-width: 1080px;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: #f0f4f4;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  font-family: 'KohinoorMedium', sans-serif;
  font-size: medium;
  word-spacing: 16em;
}


.bottom-container {
  -webkit-box-shadow: 0 -5px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -5px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -5px 6px -6px rgba(0, 0, 0, 0.5);
  max-width: 1000px; /* Adjust the value to your desired maximum width */
  margin: 0 auto; /* Center horizontally */
}
 
/* carousel css */

main section {
  width: 100%;
  padding: 2rem 0;
}

.main .carousel-container {
  width: 100%;
  height: 40rem;
  padding: 0;
  position: relative;
  overflow: hidden;
  border-radius: 0.375rem;
}

.main .carousel-container .item {
  position: relative;
  display: none;
  animation: fade 0.3s ease-in-out;
}

.main .carousel-container .item .numbertext {
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.9375rem;
  font-size: 0.875rem;
}

.main .carousel-container .prev,
.main .carousel-container .next {
  padding: 0.3125rem;
  position: absolute;
  top: calc(50% - 1rem);
  user-select: none;
  font-size: 1rem;
  border-radius: 50%;
  transition: 0.6s ease;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000; /* Make sure the z-index is high enough to be above other elements */
  cursor: pointer;
  /* additional styles */
}

.prev {
  left: 0;
}

.next {
  right: 0;
}


.main .carousel-container .dots {
  padding: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .carousel-container .dots .dot {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.125rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

.main .carousel-container .dots .dot:focus,
.main .carousel-container .dots .dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
