/* CSS code for styling Website*/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");


.container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
}

.col {
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* Sub-column with larger margins */
.sub-col {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px; /* Set the maximum width for the column */
    padding-right: 4vw;
    padding-left: 4vw;
}

.halfcolumn {
    flex-basis: 50%;
    display: flex;
}

p {
    color:#000;
    /*font-weight: bold;*/
  }


@media (min-width: 576px) {
    .col {
        float: left;
        width: 100%;
    }
    .col-sm-1 {
        width: 8.333333%;
    }
    .col-sm-2 {
        width: 16.666667%;
    }
    /* ... */
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .col-md-1 {
        width: 8.333333%;
    }
    /* ... */
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        width: 8.333333%;
    }
    /* ... */
    .col-lg-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl-1 {
        width: 8.333333%;
    }
    /* ... */
    .col-xl-12 {
        width: 100%;
    }
}

.pic-container {
    display: flex;
    justify-content: space-between; /* Change to 'space-between' to keep equal margins between columns */
    max-width: 1000px;
    margin: 0 auto; /* This will center the entire container horizontally */
    padding: 0 4vw; /* Set the left and right padding to create the desired margins */
}

.pic-col {
    box-sizing: border-box;
    flex: 1; /* Allow the columns to grow and shrink equally */
    padding: 15px;
    text-align: center;
}

a {
    color: darkslategray;
}

a:hover {
    color: black;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

a:active {
    color: dimgray;
}

form {
}

#bmi-form {
    width: 100%;
}

.m-b-md {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}
label {
    margin-bottom: 10px;
}
input[type="number"] {
    width: 50px;
}
.input-container {
    margin-bottom: 10px;
    align-items: center;
}
.content {
    text-align: center;
}
.auth-menu {
    margin-bottom: 10px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.links > a {
    color: #636b6f;
    padding: 5% 10%;
    min-padding: 20px;
    max-padding: 50px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

 .links a:hover {
     color: black;
     text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
 }

.links a:active {
    color: dimgray;
}

 .print {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

body {
    background: #f0f4f4;
    color: black;
    width: 100%;
    font-size: 15pt;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin-bottom: 200px;
}

.button {
    margin-top: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.icon-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: .75rem;
}

.icon-btn i {
    color: #000;
}

.icon-btn:hover i:hover {
    color: blue;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.full-height {
    height: 100%;
}

.low-height {
    height: 30vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.title {
    font-size: 6vw;
    min-font-size: 32px;
    max-font-size: 66px;
    white-space: nowrap;
    margin: 20px;
}

/* Screen size less than 600px */
@media screen and (max-width: 599px) {
    .title {
        font-size: calc(26px + 4vw);
        margin: 10px;
    }
}

/* Screen size between 600px and 899px */
@media screen and (min-width: 600px) and (max-width: 1199px) {
    .title {
        font-size: calc(26px + 5vw);
        margin: 30px;
    }
}

/* Screen size greater than or equal to 1200px */
@media screen and (min-width: 1200px) {
    .title {
        font-size: 6vw;
        margin: 60px;
        font-size: 84px;
    }
}

th, td {
    text-align: center;
    padding: 2px;
    color: black;
    width: fit-content;
    overflow: auto;
    border: 1px solid black;
}

th {
    background-color: slategrey;
    font-size: 11pt;
    font-weight: bold;
}

td {
    font-size: 11pt;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: slategrey;
}

/* Mood Tracker CSS */

.mood.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.mood .row {
    flex-wrap: wrap;
    margin: 20px 0;
}

.mood .col {
    flex: 1;
    min-width: 200px;
}

.mood .sub-col {
    flex: 1; /* This will allow the flex items to grow and shrink in order to fit the container */
    min-width: 200px; /* This is the minimum width of the column. Adjust accordingly */
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center; /* Center items horizontally */
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This will center the sub-columns horizontally */
}



